<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "modyo",
    "legalName" : "Modyo S.A.",
    "url": "https://www.modyo.com/",
    "logo": "https://cloud.modyocdn.com/uploads/cdb27654-004c-4fb7-a442-ba112fc73438/original/logo.png",
    "description": "Modyo is a software development company that provides a digital experience platform focused on the digital transformation of financial institutions and large organisations through enterprise portals.",
    "foundingDate": "2008",
    "address": {
    "@type": "PostalAddress",
    "streetAddress": "Av. Bicentenario 3883 Piso 3",
    "addressLocality": "Vitacura",
    "addressRegion": "Santiago",
    "addressCountry": "Chile"
    },
    "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support",
    "telephone": "[+562-2-587-1810]"
    },
    "sameAs": [
    "http://www.linkedin.com/company/modyo/"
    ]}
  }
  </script>
